{% extends 'base.html' %}   

{% block title %}   
    About
{% endblock title %}

{% block body %}    
<div class="m-5 p-4">

    <h1>About Us</h1>
    <p>Welcome to our company! We are a dedicated team committed to providing exceptional Coding Solution to our customers. With years of experience and expertise, we strive to exceed expectations and deliver outstanding results.</p>

    <h2>Our Mission</h2>
    <p>At Coder Aryan, our mission is to make people Learn Coding with fun. We aim to make people Coding Freak. Through innovation, collaboration, and a customer-centric approach, we are dedicated to give good result.</p>

    <h2>Our Team</h2>
    <p>We have a diverse and talented team of professionals who bring their unique skills and perspectives to every project. Our team members are passionate about what they do and are driven to achieve excellence. Meet our team:</p>
    
    <ul>
        <li>Aryan Bhan - CEO</li>
        <li>Anshuman Singh - COO</li>
        <li>Ujjwal Aggarwal - CTO</li>
        <li>Aryan Mandi - Marketing Manager</li>
        <!-- Add more team members as needed -->
    </ul>

    <h2>Our Values</h2>
    <p>At Coder Aryan, we value:</p>
    <ul>
        <li>Integrity: We uphold the highest ethical standards in all our interactions.</li>
        <li>Innovation: We foster a culture of creativity and strive for continuous improvement.</li>
        <li>Customer Satisfaction: We prioritize customer needs and go the extra mile to ensure their satisfaction.</li>
        <li>Collaboration: We believe in working together as a team, valuing diverse perspectives and ideas.</li>
    </ul>
    
    <h2>Contact Us</h2>
    <p>Thank you for your interest in our company. For inquiries or further information, please contact us:</p>
    <ul>
        <li>Email: vsaryan151@gmail.com</li>
        <li>Phone: +91 6006686976</li>
        <li>Address: Sonepat, Harayana</li>
    </ul>

</div>
   {% endblock body %}